@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

@layer base {
  :root {
    --text: #02032c;
    --background: #e0dfe3;
    --primary: #14004a;
    --secondary: #a7a790;
    --accent: #c38b1b;
    --ui: #ebebeb;
    --uihover: #ffffff;
  }

  .dark {
    --text: #d5d6fd;
    --background: #010118;
    --primary: #07006b;
    --secondary: #675a42;
    --accent: #fbcb6a;
    --ui: #0e0e0e;
    --uihover: #000000;
  }
}