@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

.circle{
  @apply shadow-[0_0_27px_inset] absolute inset-0 dark:border-2 rounded-full dark:shadow-[0_0_80px_inset] shadow-black dark:shadow-black;
}

.card {
  @apply rounded-3xl p-3 subpixel-antialiased backdrop-blur-sm bg-ui border-1 dark:border-[#3e3e3e] hover:bg-uihover shadow-sm transition-all duration-500;
}

@layer base {
  :root {
    --text: #02032c;
    --background: #e0dfe3;
    --primary: #0d2576;
    --secondary: #e24d0d75;
    --accent: #c38b1b;
    --ui: #e9e9e9;
    --uihover: #ffffffcc;
  }

  .dark {
    --text: #d5d6fd;
    --background: #010118;
    --primary: #07006b;
    --secondary: #ff4d002b;
    --accent: #fbcb6a;
    --ui: #09092bcf;
    --uihover: #0a0a56cf;
  }
}

@keyframes scroll-right {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scroll-left {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-scroll-right {
  animation: scroll-right linear infinite;
}

.animate-scroll-left {
  animation: scroll-left linear infinite;
}